
    .about {
      // padding-top: $section-indent;
      // padding-bottom: $section-indent;
      // background-image: url(../image/Main_sandcastle.jpg);
      // height: 100%;
      background-size: cover;
      text-align: center;
      font-family:  'Open-sans', sans-serif;
      font-size: 32px;
      font-weight: 400;
      line-height: 43.58px;
      color: #fff;
    }

    .main_text {
      width: 1100px;
      margin: 0 auto;
      padding-bottom: 235px;
    }

    .about-bgr {
      padding-top: $section-indent;
      padding-bottom: $section-indent;
      background-color: rgba(21, 43, 60, 0.4);
      // height: 550px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .main-title {
      margin: 0 auto;
      font-family:  'Raleway', sans-serif;
      font-size: 116px;
      font-style: normal;
      color: #fff;
      font-weight: 300;
      padding-top: 191px;
      line-height: 136.18px;
    }
