.contacts {
  padding-top: $section-indent;
  padding-bottom: $section-indent;
}
.form {
  display: flex;
    // flex-direction: column;
    // align-items: center;
  flex-wrap: wrap;
  width: 65.78%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
}

.form-field {
  width: 100%;
  margin-bottom: 30px;
  // & + .form-field {
  //   margin-top: 30px;
  // }

  input,
  textarea {
    width: 100%;
    line-height: 27.24px;
  }

  span{
    color: #000;
  }
}

.form-field-half{
  width: 50%;
  padding-right: 15px;

& + .form-field-half {
  padding-left: 15px;
  padding-right: 0;
}

}

.form-field--checkbox {
  input {
    display: none;
  }

  label {
    display: flex;
    flex-wrap: wrap;

    &:before {
      content:url() ;
      // display: block;
      width: 30px;
      height: 30px;
      margin-right: 5px;
      background-image: url(../image/checkmark.svg);
      background-color:  rgba(212, 98, 64, 1);
      border-radius: 3px;
      background-size: 100%;
      background-size: cover;
    }
  }

  input:checked + label:before{
    background-image: url(../image/checkmark.svg);
    background-color:  rgba(212, 98, 64, 0);
   }

  a {
    margin-left: 40px;
  }
}


.form label {
  font-family:  'Open-sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 27px;
  color: #D46240;
}

// .contacts-text-field {
//   display: flex;
//   width: 842px;
// }

// .contacts-text-field-two a {
//   font-size: 20px;
// }

//  .contacts-text-field-two {
//   width: 842px;
//   text-align: left;
// }

.contacts-item {
    // width: 408px;
    // height: 67px;
  padding: 20px;
  background-color: #FBF2DA;
  border: none;
  // margin-right: 30px;
}

// .contacts-item-two {
//     // width: 842px;
//   background-color: #FBF2DA;
//   border: none;
// }

.contacts p {
  font-family:  'Open-sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 27px;
    // text-align: center;
}

.contacts-text {
  text-align: center;
}

// .contacts-checkbox {
//   width: 842x;
//   margin-right:11px;
// }

.contacts-column {
  display: flex;
  flex-direction: column;
    // padding: 0 15px;
}

.contacts a {
  text-decoration: none;
  color: #D46240;
}

