.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #152B3C;
  color: #fff;


  @media (max-width: 767px) {
    .header {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.header-wrap {
  display: flex;
  align-items:flex-start ;
 }

.header .brand_name {
  // flex-grow: 1;
  margin-right: auto;
  font-family:  'Raleway', sans-serif;
  font-size: 42px;
  font-style: Light;
  line-height: 49px;
  color: #fff;
  font-weight: 300;
  padding-top: 25.5px;
  padding-bottom: 25.5px;

  @media (max-width: 767px)
     {
     font-size: 36px;
    }
}

.header .brand_name:hover {
  color: #D46240;
}

.brand_name a {
  text-decoration: none;
}

.header .phone-num {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-left: 81px;

  @media (max-width: 767px)
  {
  font-size: 24px;
 }

 }

.header .phone-num:hover {
  color: #D46240;
}

.header .container {
  // display: flex;
  // justify-content:space-between;
  // align-items: center;
  height: 100px;
}

.burger {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 15px;
  cursor: pointer;

  @media (max-width: 767px) {
      display: flex;
      }
}
