    .nav-list {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .header a {
        display: block;
        padding: 33px 10px;
        color: #fff;
        font-family:  'Open Sans', sans-serif;
        font-size: 24px;
        font-style: normal;
        line-height: 28px;
        color: #fff;
        text-decoration: none;
    }

     .main-nav a:hover {
        color: #D46240;
        font-family:  'Open Sans', sans-serif;
        font-size: 24px;
        font-style: normal;
        line-height: 28px;
           }
