    .nav-list{
        display: flex; 
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    // .main-nav li{
    //     list-style:none;    
    //     margin: 0 15px;
        
    // }

    .header a {
        display: block;
        padding: 33px 10px;
        color: #fff;
        font-family:  'Roboto', sans-serif;
        font-size: 24px;
        font-style: regular;
        line-height: 28px;
        color: #fff;
        text-decoration: none;
    }      

 
    a:hover{
        color: #D46240;
        font-family:  'Open Sans', sans-serif;
        font-size: 24px;
        font-style: normal;
        line-height: 33px;
       
    }