.products {
  padding-top: $section-indent;
  padding-bottom: $section-indent;
}
.second-title {
  Font-family:  'Raleway', sans-serif;
  text-align: center;
  Font-size: 58px;
  line-height: 58px;
  color: #D46240;
}

.products-subtitle {
  font-family:  'Raleway', sans-serif;
  text-align: center;
  font-size: 36px;
  line-height: 42px;
}

.products-items {
  display: flex;
}

.product-item {
  width: 33.33%;
    // не было
  padding-left: 15px;
  padding-right: 15px;
}

.class-card {
    // margin: 0 15px;
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
  height: 100%;
  text-align: center;
  align-items: center;
  font-family:  'Open-sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid #000;
}

.card-context {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item li {
  list-style: none;
}

.orange_letter {
  color: #D46240;
}

.picture_item {
  max-width: 100%;
}

.price {
  margin-top: auto;
}

.product-item a {
  text-decoration: none;
  color: #fff;
}

.class-card ul{
  padding: 0;
}

// .btn-small {
//   margin-top: auto;
// }
